<div class="card card-body bg-light">
  <h2 class="page-header">Manage categories <%= link_to "Add new", new_admin_category_path, class: "btn btn-success pull-right" %></h2>
  <table class="table table-striped">
    <tr>
      <th>Category title</th>
      <th>Date created</th>
      <th>Actions</th>
    </tr>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.created_at.to_date %></td>
        <td><%= link_to "Edit", edit_admin_category_path(category), class: "btn btn-primary" %> <%= link_to "Delete", admin_category_path(category), class: "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </table>
  <div class="digg_pagination">
    <%= will_paginate @posts %>
  </div>
  </div>
